* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 150vh;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #256874 74%);
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 220px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #eec0c6;
  text-shadow: 2px 2px 3px #5a5858;
  background-color: #256874;
  -webkit-box-shadow: 0px 0px 5px #eec0c6;
          box-shadow: 0px 0px 5px #eec0c6;
  padding: 10px 15px;
  border-radius: 21px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav .logo span:nth-child(1) {
  color: white;
}

nav .logo span:nth-child(2) {
  color: #baa9b1;
}

nav .logo span:nth-child(3) {
  color: white;
}

nav .logo:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

nav p:nth-child(3) {
  font-size: 14px;
  color: grey;
}

nav ul li {
  list-style: none;
  margin: 20px;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 9px;
  color: #256874;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: cadetblue;
}

.container-drop-img {
  position: relative;
  margin-left: 220px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mirror {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.border-drop-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 85%;
  border: 3px dashed whitesmoke;
}

.border-drop-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 3px solid whitesmoke;
}

.border-drop-img ion-icon {
  font-size: 10rem;
  margin-bottom: 20px;
  color: whitesmoke;
}

.border-drop-img p {
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: bold;
}

.border-drop-img .browseFileBtn {
  border-radius: 7px;
  margin-top: 30px;
  padding: 5px 10px;
  font-size: 18px;
  color: #256874;
  cursor: pointer;
}

.active {
  border: 3px solid whitesmoke;
}

.panel-confing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
}

.panel-confing .confing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
  width: 30%;
  border: 2px solid #aca8a8;
  margin-top: 30px;
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #cae0e4 0%, #9fa4c4 74%);
}

.panel-confing .confing p {
  color: #256874;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin-left: 220px;
}

.border {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.square, .square1, .square2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 90px;
  color: #bcb7ee;
  border: 2px solid #b6becc;
  height: 25vh;
  width: 20%;
}

.symbols {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 20px;
  color: royalblue;
  text-shadow: 3px 3px 5px black;
}

span {
  font-size: 21px;
  color: red;
  font-weight: bold;
}

.reset {
  text-decoration: none;
  position: absolute;
  left: calc(50% + 110px);
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: royalblue;
  border-radius: 12px;
  color: whitesmoke;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */