* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 150vh;
  background: #122127;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

.burger {
  display: none;
}

.nav-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 220px;
  background-color: #2b353d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  background-color: #122127;
  padding: 10px 15px;
  border-radius: 21px;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav .logo span:nth-child(1), nav .logo span:nth-child(3) {
  color: #ffffff;
}

nav .logo span:nth-child(2) {
  color: #fb7c3d;
}

nav .logo:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

nav p:nth-child(3) {
  font-size: 13px;
  color: grey;
}

nav ul li {
  list-style: none;
  margin: 20px;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 1px;
  width: 110px;
  text-decoration: none;
  border-radius: 9px;
  color: #cccccc;
  -webkit-transition: width .8s, background .3s, color 0.3s;
  transition: width .8s, background .3s, color 0.3s;
}

nav ul li a:hover {
  width: 220px;
  background-color: #122127;
  color: #fb7c3d;
}

.container-drop-img {
  position: relative;
  margin-left: 220px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mirror {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.border-drop-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 85%;
  border: 3px dashed #cccccc;
  border-radius: 19px;
}

.border-drop-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 3px solid #cccccc;
}

.border-drop-img ion-icon {
  font-size: 10rem;
  margin-bottom: 20px;
  color: #cccccc;
}

.border-drop-img p {
  color: #cccccc;
  font-size: 1.6rem;
  font-weight: bold;
}

.border-drop-img .browseFileBtn {
  border-radius: 9px;
  margin-top: 40px;
  padding: 10px 20px;
  border: 2px solid #2b353d;
  font-size: 18px;
  color: #fb7c3d;
  background: #1f2c31;
  outline: none;
  cursor: pointer;
}

.active {
  border: 3px solid #cccccc;
}

.panel-confing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
}

.panel-confing .confing, .panel-confing .confing0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  width: 60%;
  border-radius: 9px;
  margin-top: 50px;
  border: 2px solid #2b353d;
  background-color: #1f2c31;
}

.panel-confing .confing p, .panel-confing .confing0 p {
  color: #fb7c3d;
}

.panel-confing .confing input[type='range'], .panel-confing .confing0 input[type='range'] {
  width: 180px;
  height: 4px;
  -webkit-appearance: none;
  background-color: #c3ac3b;
}

.panel-confing .confing0 {
  width: 30%;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: calc(100vw - (margin-left: 220px));
  margin-left: 220px;
}

.border {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.square,
.square1,
.square2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 90px;
  color: #bcb7ee;
  border: 2px solid #b6becc;
  height: 25vh;
  width: 20%;
}

.symbols {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 20px;
  color: #fb7c3d;
  text-shadow: 3px 3px 5px black;
}

.xo {
  padding: 11px 5px;
  font-size: 33px;
  color: red;
  font-weight: bold;
}

.reset {
  text-decoration: none;
  position: absolute;
  left: calc(50% + 110px);
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fb7c3d;
  border-radius: 12px;
  color: whitesmoke;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 700px) {
  nav {
    display: none;
  }
  .container-drop-img {
    margin-left: 0px;
  }
  .game {
    margin-left: 0px;
    width: calc(100vw);
  }
  .symbols {
    font-size: 33px;
    top: 14%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .small-square {
    width: 25%;
    height: 15vh;
  }
  .reset {
    left: 50%;
    bottom: 100px;
  }
  .burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 30px;
    color: #cccccc;
    border: none;
    outline: none;
    background: none;
    z-index: 999;
    cursor: pointer;
  }
}
/*# sourceMappingURL=index.css.map */