.container {
  margin-top: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .result {
  position: relative;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: aliceblue;
  height: 85vh;
  width: 70%;
  border: 1px dashed whitesmoke;
  text-align: center;
}

.container .result img {
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.container .result ion-icon {
  font-size: 20rem;
}

.container .result label {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 10px;
}

.container .result button {
  background-color: #ebc888;
  padding: 7px 17px;
  margin-top: 5px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.container .editor {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px;
  height: 85vh;
  background: linear-gradient(132deg, #b968e7, #2c969c 95%);
  border-radius: 12px;
  z-index: 2;
}

.container .editor .filter {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 472px) {
  input[type="range"] {
    width: 140%;
  }
}

@media (max-width: 741px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .result {
    margin-bottom: 30px;
    height: 50vh;
    width: 95%;
  }
  .container .editor {
    margin-left: 0;
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 20px;
    height: 50vh;
  }
  .container .editor .mirror-btn {
    width: 100%;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=photoEdit.css.map */