$mainC: whitesmoke;
$mainO: rgb(195, 179, 148);
$orange: orange;
$purpleC: rgba(230,87,245,0.7651261188068977);
$blueC:rgba(37,101,130,1);
$gradient:linear-gradient(132deg, rgba(230,87,245,0.7651261188068977) 0%, rgba(2,7,28,1) 49%, rgba(37,101,130,1) 95%); ;
$bodyC: #02071c;
