$body-color: #122127;
$main-color: #1f2c31;
$white: rgb(204, 204, 204);
$nav-color: #2b353d;
$a-color:$white;
$orange: #fb7c3d;
$a-color-hover: $orange;
$logo-text: #ffffff;
$logo-middle-color-text: $orange;