@import "./colors";
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    background: $bodyC;
}
.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper::after {
    position: fixed;
    content: " ";
    top: 220px;
    right: 220px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    opacity: 50%;
    box-shadow: 420px -420px 690px $purpleC;
}
.wrapper::before {
    position: fixed;
    content: " ";
    top: 220px;
    left: 420px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: -420px 420px 690px $blueC;
}
nav {
    overflow: hidden;
    width: 100%;
    .top-side {
        position: relative;
        .burger {
            position: absolute;
            top: 4.5px;
            right: 9px;
            font-size: 3rem;
            padding: 5px;
            z-index: 999;
            color: white;
            text-shadow: 3px 3px 5px white;
            cursor: pointer;
        }
        h1 {
            font-size: 1.6rem;
            padding: 15px;
            color: whitesmoke;
        }
    }
    .nav-menu {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        height: 100vh;
        width: 320px;
        text-align: center;
        border-radius: 0 22px 0px 0;
        background: $gradient;
        transform: translateX(-105%);
        transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        z-index: 10;
        .nav-logo {
            margin-top: 20px;
            font-size: 3rem;
            text-decoration: none;
            color: $mainC;
            font-weight: bold;
            span {
                color: orange;
            }
        }
        .logo-firebase {
            font-size: 8rem;
            color: $mainC;
        }
        ul {
            width: 100%;
            li {
                display: flex;
                flex-direction: column;
                list-style: none;
                a {
                    margin: 0 auto;
                    width: 70%;
                    margin-bottom: 50px;
                    font-size: 1.8rem;
                    padding: 5px 10px;
                    color: black;
                    text-decoration: none;
                    border-radius: 12px;
                    text-transform: capitalize;
                    background-color: rgb(255, 255, 255);
                    transition: color .3s ,transform 0.3s;
                }
                a:hover{
                    color: orange;
                    transform: translateX(10%);
                }
            }
        }
        p {
            color: rgba(255, 255, 255, 0.723);
            font-size: 1.4rem;
        }
    }
    .nav-menu-toggle {
        z-index: 99;
        transform: translateX(0);
        transition: 1s;
    }
}
