@import './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 150vh;
    background: $body-color;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
}
.burger{
    display: none;
}
.nav-burger{
    display: flex;
    z-index: 1;
}
nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 220px;
    background-color: $nav-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .logo {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        background-color: $body-color;
        padding: 10px 15px;
        border-radius: 21px;
        box-shadow: 3px 3px 5px black;
        transition: transform 0.3s;
        span:nth-child(1),span:nth-child(3) {
            color: $logo-text;
        }
        span:nth-child(2) {
            color: $logo-middle-color-text;
        }
    }
    .logo:hover {
        transform: scale(1.06);
    }
    p:nth-child(3) {
        font-size: 13px;
        color: grey;
    }
    ul {
        li {
            list-style: none;
            margin: 20px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 1px;
                width: 110px;
                text-decoration: none;
                border-radius: 9px;
                color: $a-color;
                transition: width .8s, background .3s, color 0.3s;
            }
            a:hover {
                width: 220px;
                background-color: $body-color;
                color: $a-color-hover;
            }
        }
    }
}

.container-drop-img {
    position: relative;
    margin-left: 220px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mirror {
    transform: scaleX(-1);
}
.border-drop-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 85%;
    border: 3px dashed $white;
    border-radius: 19px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        outline: 3px solid $white;
    }
    ion-icon {
        font-size: 10rem;
        margin-bottom: 20px;
        color: $white;
    }
    p {
        color: $white;
        font-size: 1.6rem;
        font-weight: bold;
    }
    .browseFileBtn {
        border-radius: 9px;
        margin-top: 40px;
        padding: 10px 20px;
        border: 2px solid #2b353d;
        font-size: 18px;
        color: $orange;
        background: #1f2c31;
        outline: none;
        cursor: pointer;
    }
}
.active {
    border: 3px solid $white;
}

.panel-confing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    .confing,.confing0 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 400px;
        width: 60%;
        border-radius: 9px;
        margin-top: 50px;
        border: 2px solid #2b353d;
        background-color: $main-color;
        p {
            color: $orange;
        }
        input[type='range'] {
            width: 180px;
            height: 4px;
            -webkit-appearance: none;
            background-color: #c3ac3b;
          }
    }
    .confing0{
        width: 30%;
    }
}

// ------------ GameXO //

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: calc(100vw - (margin-left: 220px));
    margin-left: 220px;
}
.border {
    position: relative;
    width: 100%;
    cursor: pointer;
}
.square,
.square1,
.square2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-square {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 90px;
    color: rgb(188, 183, 238);
    border: 2px solid rgb(182, 190, 204);
    height: 25vh;
    width: 20%;
}

.symbols {
    position: absolute;
    top: 20px;
    left: 250px;
    font-size: 20px;
    color: $orange;
    text-shadow: 3px 3px 5px black;
}
.xo{
    padding: 11px 5px;
    font-size: 33px;
    color: red;
    font-weight: bold;
}
.reset {
    text-decoration: none;
    position: absolute;
    left: calc(50% + 110px);
    bottom: 30px;
    transform: translateX(-50%);
    background-color: $orange;
    border-radius: 12px;
    color: whitesmoke;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 700px){
    nav{
        display: none;
    }
    .container-drop-img{
        margin-left: 0px;
    }
    .game{
        margin-left: 0px;
        width: calc(100vw);
    }
    .symbols{
        font-size: 33px;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
    }
    .small-square{
        width: 25%;
        height: 15vh;
    }
    .reset{
        left: 50%;
        bottom: 100px;
    }
    .burger{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        font-size: 30px;
        color: $white;
        border: none;
        outline: none;
        background: none;
        z-index: 999;
        cursor: pointer;
    }
}