.burger{
    margin-top: 5px;
    background-color: rgb(255, 132, 0);
    padding: 10px 20px !important;
    font-size: 1.6rem !important; 
    outline: 1px solid rgb(255, 187, 0);
    text-shadow: none !important;
    border-radius: 9px;
}
h1{
    font-size: 2rem !important;
}
.container{
    position: absolute;
    top: -55px;
    left: -20px;
    width: 100vw;
    height: 100vh;
    background-image: url(https://compass-ssl.xbox.com/assets/f6/a3/f6a3edf9-cdfc-4db5-941d-5c109aa73cdd.jpg?n=Tetris-Effect-Connected_GLP-Page-Hero-1084_1920x1080.jpg);
    z-index: -1;
}
